* {
    --green: #BFFCB6;
    
    --font-main: url(/Assets/_Project/Fonts/Inquisitor.otf);
    --font-secondary: url(/Assets/_Project/Fonts/TTSupermolotNeueMedium.ttf);
    
    padding: 0;
    margin: 0;
    border-width: 0;

    -unity-text-align: middle-center;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}